
.line{
  background-color: #eaebeb;
  margin-top: 0;
  height: 2px;
}

.contact ul :last-child{
  margin-bottom: 24px;
}
.contact ul > li{
    float: left;
    list-style-type: none;
    margin-right: 20px;
}
.contact ul > li > a, .contact ul > li > strong{
    margin-bottom: 20px;
}

.message ul > li{
  list-style-type: none;
}
.message ul > li > p, .message ul > li > strong{
  margin-top: 0;
}


.wrapper{
  display: grid;
  grid-gap: 1em;
}

.contact {
  grid-area: contact;
}
.message {
  grid-area: message;
}
.blog {
  grid-area: blog;
}

#mainWrapper{
  margin: 1em;

  display: grid;
  grid-gap: 1em;

  grid-template-areas:
    "contact"
    "message"
    "blog";
}

#feedback{ grid-area: fb;}
#d1{ grid-area: d1;}
#i1{ grid-area: i1;}
#d2{ grid-area: d2;}
#i2{ grid-area: i2;}
#d3{ grid-area: d3;}
#i3{ grid-area: i3;}
#d4{ grid-area: d4;}
#i4{
  grid-area: i4;
  height: 56px;
  width: auto;
}

#contactWrapper{
  grid-template-columns: 110px auto;
  grid-template-areas:
  "fb fb"
  "d1 i1"
  "d2 i2"
  "d3 i3"
  "d4 i4";
}

@media only screen and (min-width: 500px) {
  #mainWrapper {
    grid-template-columns: auto;
    grid-template-areas:
      "contact"
      "message"
      "blog";
  }
}

@media only screen and (min-width: 600px) {
  #mainWrapper {
    grid-gap: 20px;
    grid-template-columns: auto 35%;
    grid-template-areas:
      "contact  blog"
      "message blog";
  }
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.contact {
  background-color: #999;
}

.blog {
  background-color: #ccc;
  color: #444;
}

.description{
  margin: 0;
}
