:root {
  --akzent1: #d80030;
  --darkgray: #4b564e;
  --lightgray: #eaebeb;
}

*{
    box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

header {
  background-image: url("../img/day.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: 700px;
  width: 100%;
  height: 400px;
}

#name {
  position: absolute;
  background-color: #f1dbc4;
  width: 300px;
  top: 100px;
}
#name hr {
  background-color: #033e84;
  color: #033e84;
  height: 5px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 0px;
}
#name h1{
    margin: 10px;
}

nav {
  background-color: #666;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7fbcf3;
}

nav ul > li {
  float: left;
  width: 25%;
  border-right: 2px solid #eaebeb;
}
nav > ul :last-child{
    border: 0;
}
nav li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #444;
}
.active {
  background-color: #3d4212;
}

.line{
  background-color: #eaebeb;
  margin-top: 0;
  height: 2px;
}

.blog div{
  width: 80px;
  background-color: #033e84;
  color: #7fbcf3;
  float: left;
  margin-right: 1em;
}
.date{
  text-align: center;
  font-size: 3rem;
  margin: 0;
}
.month{
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
}
.blog h4 {
  margin-top: 0;
  margin-bottom: 0em;
}
.blog p{
  margin: 0;
}

hr {
  margin-top: 2em;
  height: 5px;
  border-width: 0;
  background-color: #033e84;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #666;
}
#rechtliches{
  float: right;
  padding-top: 15px;
}
#rechtliches > li{
  list-style-type: none;
  float: left;
  margin-right: 10px;
}
#rechtliches li >a {
  text-decoration: none;
  color: #eaebeb;
}
#social{
  float: left;
  padding-left: 0px;
}
#social > li{
  list-style-type: none;
  float: left;
  margin-left: 10px;
  max-height: 50px;
}
#social li >a {
  text-decoration: none;
  color: #eaebeb;
}
footer ul li >a:hover{
  cursor: pointer;
}
