
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

:root{
    --ecBlue: #1e3d59;
    --ecWhite: #f5f0e1;
    --ecOrange: #ff6e40;
    --ecYellow: #ffc13b;
    --ecRed: #d04841;
    background: var(--ecWhite);
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    color: var(--ecOrange);
    text-align: center;
}

h2{
    text-align: center;
    font-size: large;
}

#discl {
    text-align: center;
    
}

#discl::first-letter{
    color: var(--ecRed);
    font-weight: bolder;
    font-size: x-large;
}

p {

}

#verpfDiv {
    align-items: center;
    align-content: center;
    align-self: center;
}
ul{
    max-width: 10rem;
    margin: 0px;
}

#promotion {
    background-color: var(--ecBlue);
    color: var(--ecWhite);
    padding: 20px;
    font-size: x-large;
}

